$xs: 0px;
$sm: 767px;
$md: 999px;
$lg: 1199px;
$xl: 1440px;

$primary: #fe336f;
$primary-dark: #c22353;

$white: #ffffff;
$black: #171717;

$bd-light: #F6F5F4;
$bd-light-secondary: #F4F5F6;


$bd-dark: #1D1F20;
$bd-dark-secondary: #170f06;
